html {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    font-size: large;
}

h3 {
    font-size: xx-large;
} 

.header {
    text-align: center;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    overflow: scroll;
    overflow-y: hidden;
}